* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}

section {
  padding: 0px 5%;
}

/* Mobile Icon (hamburger */
.mobile-icon {
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.active .bar1,
.active .bar2,
.active .bar3 {
  background-color: #fff;
  position: relative;
  z-index: 999;
}
.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.active .bar2 {
  opacity: 0;
}
.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/* Mobile Navigation Menu */
.menu-bar {
  position: fixed;
  padding: 20px 0px 20px 15px;
  top: 0;
  right: -999px;
  /* right: 0; */
  z-index: 900;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  background: #444444;
  transition: all .5s ease;

}
.active.menu-bar {
  right: 0px;
}
.menu-bar li {
  padding: 10px 0px;
}
.menu-bar li a {
  font-size: 22px;
  color: white;
}
.menu-bar li ul {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border-left: 10px solid #fff;
  /* background: #eeeeee; */
}
.menu-bar li ul li {
  padding: 5px 0px;
}
.menu-bar li ul a {
  font-size: 18px;
}

/* Swiper */
.swiper-slide {
  width: auto;
}
.swiper-slide img {
  object-fit: cover;
  height: 250px;
}
:root {
  --swiper-theme-color: rgba(255, 255, 255, 0.35);
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 26px;
}




.underhero-container {
  padding-bottom: 30px;
  background-color: #ffffff;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#f3f3f3 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #f3f3f3 2px, #ffffff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
.schedule-quick-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* schedule table */

.schedule-table {
  width: 500px;
}

/* Quick Links */
.quick-links-group {
  display: flex;
  flex-direction: column;
}
.quick-links-group .links-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0px 20px;
}
.quick-links-group .links-row .link-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 4px;

}
.quick-links-group .links-row .link-item:hover {
  border: 2px solid #e9e9e9;
  border-radius: 10px;
}
.quick-links-group  .links-row .link-item img {
  width: 50px;
}
.quick-links-group  .links-row .link-item p {
  margin: 0px;
}


/* Blog */
.blog-container {
  padding: 20px 0px;

  background-color: #444444;
  opacity: 1;
  background: linear-gradient(135deg, #40404055 25%, transparent 25%) -16px 0/ 32px 32px, linear-gradient(225deg, #404040 25%, transparent 25%) -16px 0/ 32px 32px, linear-gradient(315deg, #40404055 25%, transparent 25%) 0px 0/ 32px 32px, linear-gradient(45deg, #404040 25%, #444444 25%) 0px 0/ 32px 32px;
}
.blog-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-group .blog-item {
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  padding: 10px 10px 20px 10px;
  margin: 10px 0px;
  overflow: hidden;
}
.blog-group .blog-item .title {
  font-size: 18px;
  font-weight: 500;
}
.blog-group .blog-item .img {
  margin: 10px 0px;
}
.blog-group .blog-item .description {
  font-size: 12px;
}


/* map */
.welcome-map {
  margin: 10px 0px;
  width: 100%;
  height: 200px;
}










/* Responsive */

@media screen and (min-width: 700px) {
  section, .blog-container {
    padding: 0px 8%;
  }
  .swiper-slide img {
    height: 450px;
  }
  .schedule-quick-links-container {
    flex-direction: row;
    /* justify-content: space-between; */
  }
  
  .blog-group {
    flex-direction: row;
    justify-content: space-between;
  }
  .blog-group .blog-item {
    width: 200px;
    height: 230px;
  }
  .welcome-map {
    margin: 20px 0px;
    height: 250px;
  }
}
@media screen and (min-width: 1000px) {
  .swiper-slide img {
    height: 520px;
  }
}

@media screen and (min-width: 1200px) {
  section, .blog-container {
    padding: 0px 20%;
  }

  .swiper-slide img {
    height: 620px;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 40px;
  }
  .mobile-icon {
    display: none;
  }
  .menu-bar {
    position: static;
    right: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .menu-bar li {
    padding: 0px 40px;
  }
  .menu-bar li a{
    font-size: 18px;
  }
  .menu-bar li ul {
    position: absolute;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: none;
    width: auto;
    padding: 0px;
    border: 1px solid #444444;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-15px);
    transition: all .3s ease;
  }
  .menu-bar li ul a {
    font-size: 16px;
    color: #333;
    padding: 0px 10px;
    width: 100%;
    display: flex;
  }
  .menu-bar li ul a:hover {
    background-color: #eeeeee;
  }
  .menu-bar li a:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
  }
  .blog-group {
    padding: 50px 0px;
  }
  .blog-group .blog-item {
    width: 300px;
    height: 300px;
  }
  .welcome-map {
    margin: 20px 0px;
    height: 340px;
  }
}