.blog-cover-img {
  margin-top: 100px;
  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.blog-section {
  background-color: #e5f0f9;
  opacity: 1;
  background-image: radial-gradient(#afe0ff 2px, #e5f0f9 2px);
  background-size: 40px 40px;
  
  // padding: 0px 30px;
  .blog-container {
    box-shadow: -2px 1px 20px -3px rgba(0,0,0,0.34);
    -webkit-box-shadow: -2px 1px 20px -3px rgba(0,0,0,0.34);
    -moz-box-shadow: -2px 1px 20px -3px rgba(0,0,0,0.34);
    background-color: #fff;
    min-height: 70vh;
    padding: 30px 15px;

    .bc {
      float: right;
      font-size: 12px;
      margin-top: -25px;
    }
  }
}


@include md-screen {
  .blog-cover-img {
    margin-top: 120px;
    img {
      height: 210px;
    }
  }
  .blog-section {
    padding: 0px 60px;
    .blog-container {
      padding: 40px 60px;
      .bc {
        font-size: 14px;
      }
    }
  }
}
@include lg-screen {
  .blog-cover-img {
    margin-top: 170px;
    img {
      height: 235px;
    }
  }
  .blog-section {
    padding: 0px 150px;
    .blog-container {
      padding: 50px 60px;
    }
  }
}
@include xl-screen {
  .blog-cover-img {
    margin-top: 135px;
    img {
      height: 230px;
    }
  }
  .blog-section {
    padding: 0px 250px;
    .blog-container {
      min-height: 100vh;
      padding: 50px 40px;
      .bc {
        font-size: 14px;
        margin-top: -30px;
      }
    }
  }
}
@include xxl-screen {
  .blog-cover-img {
    margin-top: 135px;
    img {
      height: 300px;
    }
  }
  .blog-section {
    padding: 0px 400px;
    .blog-container {
      min-height: 100vh;
      padding: 50px 50px;
      .bc {
        font-size: 14px;
        margin-top: -30px;
      }
    }
  }
}