.blog-cover-img {
  margin-top: 110px;
  img {
    height: 100px;
    width: 100vw;
    object-fit: cover;
    object-position: center;
  }
}
.blog-section {
  background-color: #eeeeee;
  // padding: 0px 30px;
  .blog-container {
    background-color: #fff;
    min-height: 70vh;
    padding: 20px 30px;
  }
}


@include md-screen {
  .blog-cover-img {
    margin-top: 145px;
    img {
      height: 210px;
    }
  }
  .blog-section {
    padding: 0px 60px;
    .blog-container {
      padding: 40px 60px;
    }
  }
}
@include lg-screen {
  .blog-cover-img {
    margin-top: 175px;
    img {
      height: 235px;
    }
  }
  .blog-section {
    padding: 0px 150px;
    .blog-container {
      padding: 50px 60px;
    }
  }
}
@include xl-screen {
  .blog-cover-img {
    margin-top: 135px;
    img {
      height: 140px;
    }
  }
  .blog-section {
    padding: 0px 240px;
    .blog-container {
      min-height: 90vh;
      padding: 30px 50px;
    }
  }
}