.map-section {
  display: grid;
  place-items: center;
  padding: 0px 10px;
  margin-top: 30px;

  .map-content {
    width: 100%;
    height: 200px;
  }
}

@include md-screen {
  .map-section {
    padding: 0px 30px;
    .map-content {
      height: 280px;
    }
  }
}
@include lg-screen {
  .map-section {
    padding: 0px 30px;
    .map-content {
      height: 300px;
    }
  }
}
@include xl-screen {
  .map-section {
    padding: 0px 100px;
    margin-top: 60px;
    .map-content {
      height: 300px;
    }
  }
}
@include xxl-screen {
  .map-section {
    padding: 0px 300px;
    margin-top: 80px;
    .map-content {
      height: 350px;
    }
  }
}