/* Mobile Icon (hamburger) */
.mobile-icon {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: $base-color;
  margin: 6px 0;
  border-radius: 15px;
  transition: 0.4s;
}

.active {
  .bar1,
  .bar2,
  .bar3 {
    background-color: #333;
  }

  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

/* Mobile Navigation Menu */
.menu-bar-overlay {
  position: fixed;
  top: 0;
  right: -9999px; //*
  z-index: 899;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}
.menu-bar {
  position: fixed;
  padding: 40px 0px 20px 20px;
  top: 0;
  right: -999px; //*
  z-index: 900;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  border-radius: 0px 0px 0px 60px;
  // background-color: rgba($color: $base-color, $alpha: 1);
  background: rgb(57, 160, 237);
  background: linear-gradient(180deg, rgba(57, 160, 237, 1) 0%, rgba(57, 160, 237, 1) 50%, rgba(255, 255, 255, 1) 100%);
  transition: all 0.5s ease;
}
.active.menu-bar,
.active.menu-bar-overlay {
  right: 0px;
}
.menu-bar li {
  margin: 14px 0px;
  border-left: 5px solid white;
  padding-left: 10px;
  a {
    font-size: 20px;
    color: $white;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-left: 10px solid $white;
    li {
      padding: 5px 0px;
    }
    a {
      font-size: 18px;
    }
  }
}

// Responsive

@include md-screen {
  .mobile-icon {
    padding: 0;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 45px;
    height: 7px;
    margin: 8px 0;
  }
  .menu-bar {
    width: 45vw;
    li {
      border-width: 8px;
      margin: 32px 0px;
      padding-left: 20px;
      a {
        font-size: 26px;
      }
      ul {
        a {
          font-size: 22px;
        }
      }
    }
  }
}
@include lg-screen {
  .bar1,
  .bar2,
  .bar3 {
    width: 55px;
    height: 9px;
    margin: 9px 0;
  }
  .menu-bar {
    width: 45vw;
    li {
      a {
        font-size: 34px;
      }
      ul {
        a {
          font-size: 26px;
        }
      }
    }
  }
}

// Desktop Navigation Menu & Screen Size

@include xl-screen {
  .mobile-icon {
    display: none;
    overflow: hidden;
  }
  .menu-bar {
    position: fixed;
    top: 100px;
    right: 0;
    width: 100%;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0px;
    background: $base-color;
    padding: 20px 0px;
    margin: 0px;
    li {
      border-left: none;
      padding: 0px 30px;
      margin: 0px;
      a {
        background: linear-gradient(to right, rgba($base-color, 1), rgba($base-color, 1)),
          linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
        background-size: 100% 3px, 0 5px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
        font-size: 18px;
        padding-bottom: 10px;
        &:hover {
          background-size: 0 3px, 100% 5px;
        }
      }
      ul {
        position: fixed;
        display: flex;
        z-index: 9999;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        border: none;
        width: auto;
        padding: 0px;
        // border: 1px solid rgba($color: $base-color, $alpha: 1);
        background: $white;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-15px);
        transition: all 0.3s ease;

        a {
          font-size: 16px;
          color: #000;
          padding: 0px 10px;
          width: 100%;
          display: flex;

          &:hover {
            color: #fff;
            text-decoration: none;
            background-color: rgba($color: $base-color, $alpha: 1);
            transition: all 0.2s ease;
          }
        }
      }
      a:focus + ul {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
      }
    }
  }
}
