
// dark blue 0081aa
// dark green 0081aa
// light blue 39a0ed
// light green 32746d
// white fdfdff

$base-color: #39a0ed;
$dark-color: #0f3c5f;
$white: #fdfdff;

.text-base-color {
  color: $base-color;
}
.text-dark-color {
  color: $dark-color;
}
